<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/forms" (click)="deleteAllImages()"></ion-back-button>
    </ion-buttons>
    <ion-title>New Form</ion-title>
  </ion-toolbar>
</ion-header>
<!-- form edit -->
<ion-content>
  <div *ngIf="!preview; else lookPreview">
    <form #form="ngForm" (ngSubmit)="checkPromoCode()">
      <ion-item lines="none">
        <ion-button slot="end" color="warning" (click)="switchPreview()">Preview</ion-button>
      </ion-item>
      <ion-card color="tertiary">
        <ion-item color="tertiary">
          <ion-label position="stacked">Title</ion-label>
          <ion-input name="title"type="text" placeholder="Title" [(ngModel)]="formTitle" required></ion-input>
        </ion-item>
        <ion-item color="tertiary">
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea name="description" placeholder="Enter more description here..." [(ngModel)]="formDesc" required autosize></ion-textarea>
        </ion-item>
        <ion-item color="tertiary">
          <ion-label position="stacked">Form Code (Nickname)</ion-label>
          <ion-input name="formCode" placeholder="Enter form code (nickname) here" [(ngModel)]="formCode" required autosize></ion-input>
        </ion-item>
        <ion-item color="tertiary">
          <ion-label position="stacked">Due date</ion-label>
          <ion-datetime name="formDeadline" [(ngModel)]="formDeadline" max="2100"></ion-datetime>
        </ion-item>
      </ion-card>
      

      <div *ngFor="let item of formList;let j = index">
        <ion-card *ngIf="item.formType == 'Text'">
          <ion-item>
            <ion-label position="stacked">Question</ion-label>
            <ion-input name="question{{formCount}}{{j}}" [(ngModel)]="item.formQuestion" type="text" placeholder="Question" value="item.formQuestion" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Placeholder</ion-label>
            <ion-input type="text" placeholder="placeholder" [(ngModel)]="item.formValue[0]" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <div *ngIf="item.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Answer</ion-label>
              <ion-input type='text' placeholder='quiz answer' [(ngModel)]="item.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number' required name='score{{j}}' placeholder='quiz score' [(ngModel)]="item.formScore" ></ion-input>
            </ion-item>
          </div>
          <ion-item lines="none">
            <ion-item slot="end" lines='none'>
              <ion-label>Quiz</ion-label>
              <ion-toggle [(ngModel)]="item.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
            </ion-item>
            <ion-button slot="end" color="secondary" (click)="removeFormBox(j)">Remove Question</ion-button>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="item.formType == 'Number'">
            <ion-item>
              <ion-label position="stacked">Question</ion-label>
              <ion-input name="question{{formCount}}{{j}}" [(ngModel)]="item.formQuestion" type="text" placeholder="Question" value="item.formQuestion" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Placeholder</ion-label>
              <ion-input type="text" placeholder="placeholder" [(ngModel)]="item.formValue[0]" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <div *ngIf="item.isQuiz==true">
              <ion-item>
                <ion-label position="stacked">Answer</ion-label>
                <ion-input type='number' placeholder='quiz answer' [(ngModel)]="item.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Score</ion-label>
                <ion-input type='number' required name='score{{j}}' placeholder='quiz score' [(ngModel)]="item.formScore" ></ion-input>
              </ion-item>
            </div>
            <ion-item lines="none">
              <ion-item slot="end" lines='none'>
                <ion-label>Quiz</ion-label>
                <ion-toggle [(ngModel)]="item.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
              </ion-item>
              <ion-button slot="end" color="secondary" (click)="removeFormBox(j)">Remove Question</ion-button>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="item.formType == 'Radio'">
          <ion-item>
            <ion-label position="stacked">Question</ion-label>
            <ion-input name="question{{formCount}}{{j}}" [(ngModel)]="item.formQuestion" type="text" placeholder="Question" value="item.formQuestion" required></ion-input>
          </ion-item>
          <ion-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="item.formAnswer[0]">
            <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index; trackBy:trackByFn">
              <ion-radio slot="start" [(value)]="item.formValue[i]"></ion-radio><ion-item><ion-input type="text" placeholder="value" [(ngModel)] = "item.formValue[i]" value="{{item.formValue[i]}}" [ngModelOptions]="{standalone: true}"></ion-input></ion-item>
              <ion-icon name="remove-outline" slot="end" (click)="removeListOption(j,i)"></ion-icon>
            </ion-item>
          </ion-radio-group>
          <ion-item lines="none">
            <ion-icon slot="start" (click)="addListOption(j)" name="add-outline"></ion-icon>
          </ion-item>
          <div *ngIf="item.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number' required name='score{{j}}' placeholder='quiz score' [(ngModel)]="item.formScore" ></ion-input>
            </ion-item>
          </div>
          <ion-item lines="none">
            <ion-item slot="end" lines='none'>
              <ion-label>Quiz</ion-label>
              <ion-toggle [(ngModel)]="item.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
            </ion-item>
            <ion-button slot="end" color="secondary" (click)="removeFormBox(j)">Remove Question</ion-button>
          </ion-item>
        </ion-card> 
        <ion-card *ngIf="item.formType == 'Checkbox'">
          <ion-item lines="none">
            <ion-label position="stacked">Question</ion-label>
            <ion-input name="question{{formCount}}{{j}}" [(ngModel)]="item.formQuestion" type="text" placeholder="Question" value="item.formQuestion" required></ion-input>
          </ion-item>
          <ion-list>
            <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index;trackBy:trackByFn ">
              <ion-checkbox (ionChange)="check2(j)" slot="start" [(value)]="item.formValue[i]" [(ngModel)]="item.formAnswer[i]" [ngModelOptions]="{standalone: true}" ></ion-checkbox>
              <ion-item>
                <ion-input type="text" placeholder="value" [(ngModel)]="item.formValue[i]"  [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <ion-icon name="remove-outline" slot="end" (click)="removeListOption(j,i)"></ion-icon>
            </ion-item>
          </ion-list>
          <ion-item lines="none">
            <ion-icon slot="start" (click)="addListOption(j)" name="add-outline"></ion-icon>
          </ion-item>
          <div *ngIf="item.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number' required name='score{{j}}' placeholder='quiz score' [(ngModel)]="item.formScore" ></ion-input>
            </ion-item>
          </div>
          <ion-item lines="none">
            <ion-item slot="end" lines='none'>
              <ion-label>Quiz</ion-label>
              <ion-toggle [(ngModel)]="item.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
            </ion-item>
            <ion-button slot="end" color="secondary" (click)="removeFormBox(j)">Remove Question</ion-button>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="item.formType == 'Image'">
          <ion-card-content>
              <ion-img [src]="item.formQuestion"></ion-img>
          </ion-card-content>
          <ion-item lines="none">
            <ion-button slot="end" color="secondary" (click)="removeFormBox(j)">Remove Image</ion-button>
          </ion-item>
        </ion-card>
      </div>

      <ion-item-divider>
        <ion-label>
          Add Question
        </ion-label>
      </ion-item-divider>

    <!-- select form type -->
    <ion-card>
      <ion-label>Question Type</ion-label>
      <ion-select [(ngModel)]="formType" interface="text" (ionChange)="onChange(1)"  [ngModelOptions]="{standalone: true}">
        <ion-select-option value="Text">Text</ion-select-option>
        <ion-select-option value="Number">Number</ion-select-option>
        <ion-select-option value="Radio">Radio</ion-select-option>
        <ion-select-option value="Checkbox">Checkbox</ion-select-option>
        <ion-select-option value="Image">Image</ion-select-option>
      </ion-select>
    </ion-card>

    
    <!-- add form -->
    <div>
      <ion-card *ngIf="formType == 'Text'">
        <ion-item>
          <ion-label position="stacked">Question</ion-label>
          <ion-input [(ngModel)]="formBox.formQuestion" type="text" placeholder="Question" value="formBox.formQuestion" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Placeholder</ion-label>
          <ion-input type="text" placeholder="placeholder" [(ngModel)]="formBox.formValue[0]" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <div *ngIf="formBox.isQuiz==true">
          <ion-item>
            <ion-label position="stacked">Answer</ion-label>
            <ion-input type='text' placeholder='quiz answer' [(ngModel)]="formBox.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Score</ion-label>
            <ion-input type='number' placeholder='quiz score' [(ngModel)]="formBox.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <ion-item lines="none">
          <ion-item slot="end" lines='none'>
            <ion-label>Quiz</ion-label>
            <ion-toggle [(ngModel)]="formBox.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
          </ion-item>
          <ion-button slot="end" color="primary" (click)="addFormBox()">Add Question</ion-button>
        </ion-item>
      </ion-card>
      <ion-card *ngIf="formType == 'Number'">
        <ion-item>
          <ion-label position="stacked">Question</ion-label>
          <ion-input [(ngModel)]="formBox.formQuestion" type="text" placeholder="Question" value="formBox.formQuestion" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Placeholder</ion-label>
            <ion-input type="text" placeholder="placeholder" [(ngModel)]="formBox.formValue[0]" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <div *ngIf="formBox.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Answer</ion-label>
              <ion-input type='number' placeholder='quiz answer' [(ngModel)]="formBox.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number'  placeholder='quiz score' [(ngModel)]="formBox.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </div>
          <ion-item lines="none">
            <ion-item slot="end" lines='none'>
              <ion-label>Quiz</ion-label>
              <ion-toggle [(ngModel)]="formBox.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
            </ion-item>
            <ion-button slot="end" color="primary" (click)="addFormBox()">Add Question</ion-button>
        </ion-item>
      </ion-card>
      <ion-card *ngIf="formType == 'Radio'">
        <ion-item>
          <ion-label position="stacked">Question</ion-label>
          <ion-input [(ngModel)]="formBox.formQuestion" type="text" placeholder="Question" value="formBox.formQuestion" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-radio-group [(ngModel)]="formBox.formAnswer[0]" [ngModelOptions]="{standalone: true}">
          <ion-item lines="none" *ngFor="let itemValue of formBox.formValue;let i = index;trackBy:trackByFn ">
            <ion-radio slot="start" [(value)]="formBox.formValue[i]"></ion-radio><ion-item><ion-input type="text" placeholder="value" [(ngModel)]="formBox.formValue[i]" [ngModelOptions]="{standalone: true}"></ion-input></ion-item>
            <ion-icon name="remove-outline" slot="end" (click)="removeOption(i)"></ion-icon>
          </ion-item>
        </ion-radio-group>
        <ion-item lines="none">
          <ion-icon slot="start" (click)="addOption()" name="add-outline"></ion-icon>
        </ion-item>
        <div *ngIf="formBox.isQuiz==true">
          <ion-item>
            <ion-label position="stacked">Score</ion-label>
            <ion-input type='number' placeholder='quiz score' [(ngModel)]="formBox.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <ion-item lines="none">
          <ion-item slot="end" lines='none'>
            <ion-label>Quiz</ion-label>
            <ion-toggle [(ngModel)]="formBox.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
          </ion-item>
          <ion-button slot="end" color="primary" (click)="addFormBox()">Add Question</ion-button>
        </ion-item>
      </ion-card>
      <ion-card *ngIf="formType == 'Checkbox'">
        <ion-item>
          <ion-label position="stacked">Question</ion-label>
          <ion-input [(ngModel)]="formBox.formQuestion" type="text" placeholder="Question" value="formBox.formQuestion" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item lines="none" *ngFor="let itemValue of formBox.formValue;let i = index;trackBy:trackByFn">
            <ion-checkbox (ionChange)="test()" slot="start" [(value)]="formBox.formValue[i]" [(ngModel)]="formBox.formAnswer[i]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
            <ion-item>
              <ion-input  type="text" placeholder="value" [(ngModel)]="formBox.formValue[i]" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-icon name="remove-outline" slot="end" (click)="removeOption(i)"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" (click)="addOption()" name="add-outline"></ion-icon>
          </ion-item>
        </ion-list>
        <div *ngIf="formBox.isQuiz==true">
          <ion-item>
            <ion-label position="stacked">Score</ion-label>
            <ion-input type='number' placeholder='quiz score' [(ngModel)]="formBox.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <ion-item lines="none">
          <ion-item slot="end" lines='none'>
            <ion-label>Quiz</ion-label>
            <ion-toggle [(ngModel)]="formBox.isQuiz" [ngModelOptions]="{standalone: true}"></ion-toggle>
          </ion-item>
          <ion-button slot="end" color="primary" (click)="addFormBox()">Add Question</ion-button>
        </ion-item>
        
      </ion-card>
      <div *ngIf="formType == 'Image'">
        <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
          <ion-card-header>
            <ion-card-title>Choose Images to Upload</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="uploadBtn" color="success" shape="round">
              <span>Select Image</span>
              <input class="upload" type="file" class="upload" (change)="uploadFile($event.target.files)" />
            </ion-button>
          </ion-card-content>
        </ion-card>
      
        <ion-card class="ion-text-center" *ngIf="isUploading && !isUploaded">
          <ion-card-header>
            <ion-card-title>Selected File:<b>{{ fileName }}</b></ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <div *ngIf="percentage | async as pct">
              Progress: {{ pct | number }}%
              <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
            </div>
            <div *ngIf="snapshot | async as snap">
              File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
              {{ snap.bytesTransferred | fileSizePipe }}
              <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
                <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
                <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        
        <ion-card class="ion-text-center" *ngIf="!isUploading && isUploaded">
          <ion-card-content>
            <div *ngIf="UploadedFileURL | async as url">
              <ion-img [src]="formBox.formQuestion"></ion-img>
            </div>
          </ion-card-content>
          <ion-item lines="none">
            <div slot="end">
              <ion-button (click)="deleteImage()" color="danger">Cancel</ion-button>
              <ion-button color="primary" (click)="addFormBox()">Add Image</ion-button>
            </div>
          </ion-item>
        </ion-card>
      </div>
    </div>
    <ion-button type="submit" expand="block" color="secondary" [disabled]="(!form.valid || !cekForm ||isUploading)">Create Form</ion-button>
  </form>
</div>
  
  <!-- preview -->
  <ng-template  #lookPreview>
    <div class='preview'>
    <ion-item lines="none">
      <ion-button slot="end" color="warning" (click)="switchPreview()">Edit</ion-button>
    </ion-item>
    <ion-card color="tertiary">
      <h1>{{formTitle}}</h1>
      <p>{{formDesc}}</p>
    </ion-card>
    <div *ngFor="let item of formList;let j = index">
      <ion-card *ngIf="item.formType == 'Text'">
        <ion-item>
          <ion-label position="stacked">{{item.formQuestion}}</ion-label>
          <ion-input disabled type="text" placeholder="{{item.formValue[0]}}" [(ngModel)]="item.formValue[0]"></ion-input>
        </ion-item>
        <div *ngIf="item.isQuiz==true">
          <ion-item>
            <ion-label position="stacked">Answer</ion-label>
            <ion-input type='text' placeholder='quiz answer' [(ngModel)]="item.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Score</ion-label>
            <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
      </ion-card>
      
      <ion-card *ngIf="item.formType == 'Number'">
          <ion-item>
            <ion-label position="stacked">{{item.formQuestion}}</ion-label>
            <ion-input disabled type="number" placeholder="{{item.formValue[0]}}" [(ngModel)]="item.formValue[0]"></ion-input>    
          </ion-item>
          <div *ngIf="item.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Answer</ion-label>
              <ion-input type='number' placeholder='quiz answer' [(ngModel)]="item.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </div>
      </ion-card>
      <ion-card *ngIf="item.formType == 'Radio'">
        <ion-list>
          <ion-radio-group [(ngModel)]="item.formAnswer[0]">
            <ion-list-header>
              <ion-label>{{item.formQuestion}}</ion-label>
            </ion-list-header>
            <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index; trackBy:trackByFn">
              <ion-label>{{item.formValue[i]}}</ion-label>
              <ion-radio disabled slot="start" [(value)]="item.formValue[i]"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <div *ngIf="item.isQuiz==true">
          <ion-item>
            <ion-label position="stacked">Score</ion-label>
            <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
      </ion-card>
      <ion-card *ngIf="item.formType == 'Checkbox'">
        <ion-list-header>
          <ion-label>{{item.formQuestion}}</ion-label>
        </ion-list-header>
        <ion-list>
          <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index;trackBy:trackByFn ">
            <ion-label>{{item.formValue[i]}}</ion-label>
            <ion-checkbox [checked]="item.formAnswer[i].toString() == 'true'" disabled slot="start" [(value)]="item.formValue[i]"></ion-checkbox>
          </ion-item>
        </ion-list>
        <div *ngIf="item.isQuiz==true">
          <ion-item>
            <ion-label position="stacked">Score</ion-label>
            <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
      </ion-card>
      <ion-card *ngIf="item.formType == 'Image'">
        <ion-card-content>
            <ion-img [src]="item.formQuestion"></ion-img>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  </ng-template>

</ion-content>
