<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input name="username" type="text" [(ngModel)]="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" [type]="passwordType" [(ngModel)]="password" required></ion-input>
      <ion-icon [name]="passwordIcon" class="passwordIcon" slot="end" (click)='hideShowPassword()'></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input name="cpassword" [type]="cpasswordType" [(ngModel)]="cpassword" required></ion-input>
      <ion-icon [name]="cpasswordIcon" class="passwordIcon" slot="end" (click)='hideShowCPassword()'></ion-icon>
    </ion-item>
    <ion-button type="submit" fill="solid" expand="block" color="dark" [disabled]="!form.valid">Register</ion-button>
  </form>
  
 
</ion-content>