<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="forms">
    <ion-list>

      <ion-item  class="forms" *ngFor="let form of (formCollectionData | async); let i = index" (click) = "clickForm(form.id)">
        <ion-label>
          <ion-row>
            {{form.formTitle}}
          </ion-row>
          <ion-row>
            {{form.formDesc}}
          </ion-row>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
