<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/forms"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Detail Form</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)='presentAlertDelete()'>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-loading *ngIf="!(formDocData | async)"></app-loading>

  <div *ngIf="(formDocData | async)">

    <ion-item lines="none">
      <ion-button *ngIf="!preview" slot="end" color="warning" (click)="switchPreview()">Preview</ion-button>
      <ion-button *ngIf="preview" slot="end" color="warning" (click)="switchPreview()">Responses</ion-button>
    </ion-item>

    <!-- Responses -->
    <div *ngIf="!preview; else lookPreview"class="ion-padding-horizontal">

      <center>
        <ion-text color="medium">
          <p class="ion-no-margin">Title:</p>
        </ion-text>
        <h1 class="ion-no-margin ion-margin-bottom">{{this.formData.formTitle}}</h1>
  
        <ion-text color="medium">
          <p class="ion-no-margin" color="medium">Description:</p>
        </ion-text>
        <h3 class="ion-no-margin ion-margin-bottom">{{this.formData.formDesc}}</h3>
  
        <ion-text color="medium">
          <p class="ion-no-margin">Form code:</p>
        </ion-text>
        <h5 class="ion-no-margin ion-margin-bottom">{{this.formID}}</h5>
      </center>
  
      <ion-list class="ion-margin-top">
        <ion-list-header>
          <h5 class="ion-no-margin">
            Responses
          </h5>
          &nbsp;&nbsp;
          <ion-badge color="primary">{{this.formData.formResponses.length}}</ion-badge>
        </ion-list-header>
  
        <app-loading *ngIf="!responseData"></app-loading>
  
        <center>
          <ion-label *ngIf="(responseData.length == 0)">Responses will be listed here.</ion-label>
        </center>
  
        <ion-item *ngFor="let response of responseData; let i = index" (click)="clickResponse(this.responses[i])">
          <ion-label>
            <ion-row>Respondent:</ion-row>
            <ion-row>{{response.respondent}}</ion-row>
          </ion-label>
        </ion-item>
  
      </ion-list>

    </div>

    <!-- Preview -->
    <ng-template #lookPreview>
      
      <ion-card color="tertiary">
        <h1>{{formData.formTitle}}</h1>
        <p>{{formData.formDesc}}</p>
      </ion-card>
      <div *ngFor="let item of formData.formList;let j = index">
        <ion-card *ngIf="item.formType == 'Text'">
          <ion-item>
            <ion-label position="stacked">{{item.formQuestion}}</ion-label>
            <ion-input type="text" placeholder="{{item.formValue[0]}}" disabled></ion-input>
          </ion-item>
          <div *ngIf="item.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Answer</ion-label>
              <ion-input type='number' placeholder='quiz answer' [(ngModel)]="item.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </div>
        </ion-card>
        <ion-card *ngIf="item.formType == 'Number'">
            <ion-item>
              <ion-label position="stacked">{{item.formQuestion}}</ion-label>
              <ion-input type="number" placeholder="{{item.formValue[0]}}" disabled></ion-input>
            </ion-item>
            <div *ngIf="item.isQuiz==true">
              <ion-item>
                <ion-label position="stacked">Answer</ion-label>
                <ion-input type='number' placeholder='quiz answer' [(ngModel)]="item.formAnswer[0]" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Score</ion-label>
                <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
            </div>
        </ion-card>
        <ion-card *ngIf="item.formType == 'Radio'">
          <ion-list>
            <ion-radio-group [(ngModel)]="item.formAnswer[0]">
              <ion-list-header>
                <ion-label>{{item.formQuestion}}</ion-label>
              </ion-list-header>
              <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index; trackBy:trackByFn">
                <ion-label>{{item.formValue[i]}}</ion-label>
                <ion-radio slot="start" [(value)]="item.formValue[i]" disabled></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <div *ngIf="item.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </div>
        </ion-card>
        <ion-card *ngIf="item.formType == 'Checkbox'">
          <ion-list-header>
            <ion-label>{{item.formQuestion}}</ion-label>
          </ion-list-header>
          <ion-list>
            <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index;trackBy:trackByFn ">
              <ion-label>{{item.formValue[i]}}</ion-label>
              <ion-checkbox slot="start" [(value)]="item.formValue[i]" disabled></ion-checkbox>
            </ion-item>
          </ion-list>
          <div *ngIf="item.isQuiz==true">
            <ion-item>
              <ion-label position="stacked">Score</ion-label>
              <ion-input type='number' placeholder='quiz score' [(ngModel)]="item.formScore" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </div>
        </ion-card>
        <ion-card *ngIf="item.formType == 'Image'">
          <ion-card-content>
              <ion-img [src]="item.formQuestion"></ion-img>
          </ion-card-content>
        </ion-card>
      </div>
      
    </ng-template>

  </div>


</ion-content>