<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Respond</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="(formDocData | async)">
  <ion-card color="tertiary">
    <h1>{{form.formTitle}}</h1>
    <p>{{form.formDesc}}</p>
  </ion-card>
  <div *ngFor="let item of form.formList;let j = index">
    <ion-card *ngIf="item.formType == 'Text'">
      <ion-item lines="none">
        <ion-note *ngIf="item.isQuiz" style='font-size:75%;' slot="end">Skor : {{item.formScore}}</ion-note>
        <ion-label class="ion-text-wrap">{{item.formQuestion}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="{{item.formValue[0]}}" (ionChange)="cekFormValid()" [(ngModel)]="formAnswer[j].value"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="item.formType == 'Number'">
        <ion-item lines="none">
          <ion-note *ngIf="item.isQuiz" style='font-size:75%;' slot="end">Skor : {{item.formScore}}</ion-note>
          <ion-label class="ion-text-wrap">{{item.formQuestion}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="{{item.formValue[0]}}" (ionChange)="cekFormValid()" [(ngModel)]="formAnswer[j].value"></ion-input>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="item.formType == 'Radio'">
        <ion-item lines="none">
          <ion-note *ngIf="item.isQuiz" style='font-size:75%;' slot="end">Skor : {{item.formScore}}</ion-note>
          <ion-label class="ion-text-wrap">{{item.formQuestion}}</ion-label>
        </ion-item>
        <ion-radio-group (ionChange)="radioAnswer(j,$event)">
          <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index; trackBy:trackByFn">
            <ion-label>{{item.formValue[i]}}</ion-label>
            <ion-radio slot="start" [(value)]="item.formValue[i]"></ion-radio>
          </ion-item>
        </ion-radio-group>
    </ion-card>
    <ion-card *ngIf="item.formType == 'Checkbox'">
        <ion-item lines="none">
          <ion-note *ngIf="item.isQuiz" style='font-size:75%;' slot="end">Skor : {{item.formScore}}</ion-note>
          <ion-label class="ion-text-wrap">{{item.formQuestion}}</ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let itemValue of item.formValue;let i = index;trackBy:trackByFn ">
          <ion-label>{{item.formValue[i]}}</ion-label>
          <ion-checkbox slot="start" [(value)]="item.formValue[i]" (ionChange)="checkboxAnswer(j,$event)"></ion-checkbox>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="item.formType == 'Image'">
        <ion-card-content>
            <ion-img [src]="item.formQuestion"></ion-img>
        </ion-card-content>
      </ion-card>
  </div>
  <ion-button expand="block" color="secondary" (click)="submit()" [disabled]="!cekForm">Submit</ion-button>
  </ng-template>
</ion-content>
