<ion-header>
  <ion-toolbar>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-loading *ngIf="!(userDocData | async)"></app-loading>

  <div id="forms" *ngIf="(userDocData | async)">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-no-padding" *ngFor="let form of userForms; let i = index">
          <ion-card class="forms" (click)="clickForm(this.userFormCodes[i])">
            <ion-label>
              <ion-row class="title">
                <h2><b>{{form.formTitle}}</b></h2>
              </ion-row>
              <ion-row class="description">
                <p class="desc">{{form.formDesc}}</p>
                <p class="fade"></p>
              </ion-row>
            </ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/new-form'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
