<ion-header>
  <ion-toolbar>
    <ion-title>forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-loading *ngIf="!userForms"></app-loading>

  <div id="forms">
    <ion-list class="forms" *ngFor="let form of userForms; let i = index" (click)="clickForm(this.userFormCodes[i])">

      <ion-item>
        <ion-label>
          <ion-row>
            {{form.formTitle}}
          </ion-row>
          <ion-row>
            {{form.formDesc}}
          </ion-row>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/new-form'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
