<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" align="center">
    <h1>{{username}}</h1>
    <ion-button *ngIf="!showCP; else cp" color="warning" (click)="showChangePassword()">Change Password</ion-button><br>
    <ng-template #cp>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Old Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm New Password</ion-label>
          <ion-input type="password" [(ngModel)]="cNewPassword"></ion-input>
        </ion-item>
    
      </ion-list>
      <ion-button fill="solid" color="dark" (click)="showChangePassword()">Cancel</ion-button>
      <ion-button fill="solid" color="warning" (click)="changePassword()">Change Password</ion-button><br>
    </ng-template>
    <ion-button color="danger" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
